<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/head :: head"></head>
<body>
<div class="container">
    <h1 th:text="${something}"/>
    <div class="border p-margin-top">
        <p>
            At vCard.Link you can create an online business card and share it with your contacts.

            It is an easy 2 step process:

            Complete the form below with your contact information.
            Copy your card link or QR-code and share it.
            The link and QR-code are fully embeddable in your website or email. Simply download the file or image and include it wherever you like.

            If you wish to keep your card information up to date then be sure to supply an email and password.
        </p>
    </div>


<div class="border">

</div>
</div>
</body>
</html>